<div id="<%= dom_id comment %>">
  <p>
    <strong>Name:</strong>
    <%= comment.name %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>

  <p>
    <strong>Positive count:</strong>
    <%= comment.positive_count %>
  </p>

  <p>
    <strong>Negative count:</strong>
    <%= comment.negative_count %>
  </p>

</div>
